include _externalIncludes
include _internalIncludes

mixin header-box-nav-el(json)
  each data in json
    .header-box-nav-el
      a.header-box-nav-el-link(href=data.link) #{data.title}
      .header-box-nav-el-desc #{data.description}

mixin main-box-nav-el(json)
  each data in json
    a.main-box-nav-link(href=data.link) #{data.title}

mixin info-box-stats-el(json)
  each data in json
    .info-box-stats-el
      h3 #{data.number} <sup>#{data.units}</sup>
      p #{data.text}

mixin prevs-row-el(json)
  each data in json
    .prevs-box-row-el
      +icon(data.icon)(class=data.icon)
      p #{data.text}

doctype html
html(lang='ru')
  include head
  body
    .container
      .header
        .header-box
          a.header-box-logotype(href="#main")
            +icon('logotype')
          .header-box-nav.lg
            +header-box-nav-el(getData('header'))
          a.header-box-nav-button#change-nav(href="#nav")
            +icon('navigation')
      section.main#main
        .content.main-box
          .main-box-nav
            +main-box-nav-el(getData('main'))
          h2.main-box-description Продукция завода <span class="text-border-dashed">«Гиагинский»</span> представлена во всех федеральных сетях, а потребители знают и ищут именно наш бренд.
      section.info#info
        .content.info-box
          //Тут костыли с гридами, не бей 
          .info-box-header
            p За 2019 год мы произвели
          .info-box-stats
            +info-box-stats-el(getData('info'))
          .info-box-details
            a(href="#details") Скачать презентацию
          //Тут костыли с гридами, не бей
      section.prevs
        .content.prevs-box
          .prevs-box-info
            h2 Имеем эксклюзивное право на производство Адыгейского сыра и производим по технологии НМПТ
            +icon('prevslogo')
          .prevs-box-row
            +prevs-row-el(getData('prevs'))
            .prevs-box-row-el
              +icon('pack')(class="pack")


    block content
    script(src='assets/scripts/app.min.js')
    script(src='assets/scripts/main.js')
